@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
*{
    font-family: 'Comfortaa', cursive;
}

#modal-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.829);
}
#close-x{
    color: rgba(255, 0, 0, 0.5);
}
#close-x:hover{
    color: red;
}